@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">My rent</h1>
        <h4> Click on Properties to show list of all properties </h4>
         
           
    </div>
